.c-wrapper
	r-block()
	position relative
	width 960px
	margin auto

.c-iframe-video
	r-block()
	width 100% !important
	height 100% !important

.c-video
	r-block()
	box-shadow 0px 0px 15px 0px rgba(50, 50, 50, 0.5)
	width 720px
	height 400px
	cursor pointer
	// background url('../../images/main-video.jpg') center center no-repeat
	// background-size cover
	// &--reviews
	// 	background url('../../images/review-video.jpg') center center no-repeat

.c-team-list
	clearfix()
	w = 250px
	h = 45px
	width w * 3
	margin auto
	&__item-wr
		width w
		height 255px
		padding-top 25px
		float left
	&__item-img
		position relative
		width 150px
		height 150px
		margin auto
	&__img
		border-radius 100%
		width 100%
		height 100%
	&__soc
		display block
		position absolute
		right 0
		bottom 0
		text-align center
		height h
		width h
		border-radius 100%
		padding 0
	&__soc-ico
		display inline-block
		line-height h !important
	&__item-info
		text-align center
	&__name
		font-size 18px
		font-weight 700
		margin-bottom 0
	&__staf
		font-size 16px
		margin-top 5px
	
.c-privacy-policy
	ul
		padding-left 20px

.c-iframe-order-bro
	position fixed
	top -500px
	left -500px
	height 0
	overflow hidden


.c-nav-top
	position fixed
	background-color #FFF
	box-shadow 0px 3px 8px rgba(0, 0, 0, 0.3)
	padding-top 5px
	top 0
	left 0
	width 100%
	transform translateY(-100%)
	z-index 99
	transition-all()
	&__wrapper
		@extend .c-wrapper
		clearfix()
	&__logo
		r-block()
		float left
	&__inner
		r-block()
		clearfix()
		float right
	&__item
		r-block()
		float left
		padding 0 2px
	&__a
		r-block()
		osans-700()
		line-height 1
		color #545454
		font-size 14px
		padding 20px 13px 8px
		text-decoration none
		border-bottom 1px solid rgba(0, 0, 0, 0)
		transition-all()
		&:hover
			border-bottom-color #545454
			color #545454
		&_is-active
			color #597EB1 !important
			border-bottom-color #597EB1 !important
		&_free
			color #FBB03B
	&_hide
		transform translateY(0)

.c-bg-parallax
	display block
	background-color #D6D6D6
	background-position center center
	background-repeat no-repeat
	background-attachment fixed
	background-size cover
	opacity .8

.c-slider-company
	r-block()
	width 850px
	height 60px
	&__item
		padding 0 10px
		outline none
	&__img
		width 100%

.c-p
	r-block()
	osans-700()
	font-size 28px

.c-p-i
	r-block()
	osans-400()
	font-style italic
	font-size 11px
	&_private
		display block
		background url('../../images/privat.png') 0 0 no-repeat
		padding-left 25px
		line-height 25px
		width 400px
		text-align left !important
		margin-right auto
		margin-left auto

.c-first-section
	position relative
	min-height 950px
	text-align center
	color #FFF
	r-block()
	osans-700()
	&__wrapper
		@extend .c-wrapper
		padding-top 40px
		z-index 2
	&__logo
		r-block()
		display none
	&__h1
		r-block()
		font-size 45px
	&__h2
		r-block()
		font-size 32px
		padding-top 5px
		padding-bottom 25px
	&__down
		r-block()
		margin auto
		cursor pointer
	.c-p
		padding-top 50px
		padding-bottom 20px
	.c-bg-parallax
		background-image url('../../images/1-bg.jpg')
		pos-a-full()
		z-index 1
	.c-video
		margin 30px auto 0
	.c-slider-company
		margin auto
		margin-bottom 20px

.c-form-main
	r-block()
	background-color rgba(0,113,188,0.67)
	padding 25px 25px 35px
	border 1px solid #0071BC
	clearfix()
	&__cont
		clearfix()
	&__item
		r-block()
		float left
		width 32%
		margin-right 2%
		height 35px
		background-color #FFF
		border 1px solid #ABAAAA
		border-radius 3px
		padding-left 20px
		&_button
			background-color #F48100
			text-align center
			margin-right 0
			border 1px solid #F7921E
			color #FFF
			cursor pointer
			&:hover
				background-color #F7921E
	.c-p
		font-size 23px
		text-align center
		color #FFF
		margin-bottom 30px
	.c-p-i
		color #FFF
		text-align center
		margin-top 13px
				
.c-form-section
	position relative
	&__wrapper
		@extend .c-wrapper
		position relative
		z-index 2
		padding 100px 0
	.c-form-main
		width 850px
		margin auto
	.c-bg-parallax
		background-image url('../../images/2-bg.jpg')
		pos-a-full()
		z-index 1


.c-question-item
	background url('../../images/q-i.png') 0 4px no-repeat
	font-size 18px
	color #FFF
	padding-right 25px
	padding-left 60px

.c-learn-tabs
	max-width 850px
	margin auto
	&__header
		clearfix()
		selection-none()
	&__header-item
		float left
		margin-right 37px
		width 60px
		text-align center
		font-size 14px
		text-transform uppercase
		color #999
		osans-700()
		cursor pointer
		transition(color .3s linear)
		&:last-child
			margin-right 0
		&:hover
			color #FFF
		&_is-active
			text-decoration underline
			color #FFF
			font-size 14.5px
	&__content
		padding-top 30px
		color #FFF
	&__content-item
		display none
		position relative
		&_is-active
			display block
	&__h4
		r-block()
		margin-bottom 10px
		font-size 22px
		osans-400()
	&__content-top
		p
			r-block()
			font-size 11px
			font-style italic
			line-height 1.5
	&__h4-bottom
		r-block()
		osans-400()
		margin-top 10px
		margin-bottom 2px
		font-size 16px
	&__content-bottom
		p
			r-block()
			font-size 13px
			line-height 1.5
	&__content-inner
		width 400px
	&__img
		r-block()
		position absolute
		top 0
		right 0
		opacity .7
		cursor pointer
		transition-all()
		&:hover
			opacity 1

.c-content-cours
	position relative
	color #FFF
	&__wrapper
		@extend .c-wrapper
		position relative
		z-index 2
		padding-top 80px
		padding-bottom 155px
	&__h2
		r-block()
		osans-700()
		font-size 30px
		text-align center
	&__h3
		r-block()
		osans-700()
		font-size 20px
		text-align center
		margin-top 15px
		margin-bottom 25px
	&__list
		clearfix()
	&__list-item
		float left
		width 50%
	.c-bg-parallax
		background-image url('../../images/3-bg.jpg')
		pos-a-full()
		z-index 1
	.c-question-item
		margin-bottom 60px

.c-reviews
	position relative
	color #FFF
	&__wrapper
		@extend .c-wrapper
		