osans()
	font-family 'Open Sans', sans-serif
osans-300()
	osans()
	font-weight 300
osans-400()
	osans()
	font-weight 400
osans-700()
	osans()
	font-weight 700
osans-900()
	osans()
	font-weight 900
	