@media screen and (max-width: 990px)
	.c-nav-top
		display none
	.c-wrapper
		width 700px
	.c-first-section
		height auto
		min-height 1024px
		&__wrapper
			@extend .c-wrapper
		&__logo
			display block
		&__h1
			font-size 35px
			margin-bottom 15px
		&__h2
			font-size 25px
		&__slider-p
			font-size 23px
		.c-video
			margin-top 100px
			margin-bottom 50px
	.c-slider-company
		width 700px
	.c-video
		width 600px
		height 332px
		margin-bottom 20px
	.c-form-section
		&__wrapper
			@extend .c-wrapper
		.c-form-main
			width 100%

@media screen and (max-width: 760px)
	.c-wrapper
		width 360px
	.c-first-section
		min-height 800px
		&__wrapper
			@extend .c-wrapper
		&__h1
			font-size 30px
		&__h2
			font-size 20px
		&__slider-p
			display none
		.c-video
			margin-top 0
			margin-bottom 0
	.c-slider-company
		display none
	.c-video
		width 360px
		height 200px
	.c-form-section
		&__wrapper
			@extend .c-wrapper
			padding 50px 0
	.c-form-main
		&__item
			width 100%
			margin-bottom 20px
			&_button
				margin-bottom 0
		.c-p-i
			&_private
				background-position center 0
				width 100%
				line-height 1.3
				padding-top 27px
				padding-left 0
				text-align center !important